.thanks {
  font-family: "Public Sans", sans-serif;
  color: black;
  text-align: center;
}
.logoOrganisation {
  width: max-content;
}

.button {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  border: 1px solid #ff9045;
  box-sizing: border-box;
  border-radius: 28px;
}
