.thanks {
  position: absolute;
  width: 171px;
  height: 56px;
  left: 195px;
  top: 124px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.484848px;
  color: #000000;
}

.logoOrganisation {
  width: max-content;
}

.button {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  border: 1px solid #ff9045;
  box-sizing: border-box;
  border-radius: 28px;
}
