.header {
  text-align: center;
}

.header-container {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: auto;
}

.icon-back {
  display: inline-flex;
  text-align: center;
  color: grey;
  padding-right: 10px;
}

.header-logo {
  display: inline-flex;
  text-align: center;
  margin-top: 10px;
}
