.icon-payment {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.visa {
    display: inline-flex;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border: lightgray 2px solid;
    border-radius: 10px;
}

.paypal {
    display: inline-flex;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border: lightgray 2px solid;
    border-radius: 10px;
}

.sepa {
    display: inline-flex;
    text-align: center;
    margin: 20px;
    padding: 5px;
    border: lightgray 2px solid;
    border-radius: 10px;
}