.container {
  text-align: center;
}

button {
  font-family: "Public Sans", sans-serif;
  color: #ffffff;
  background-color: grey;
  border-radius: 15px;
  width: 300px;
  border: none;
  padding: 6px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.37);
  cursor: pointer;
  letter-spacing: 0.5px;
}
