* {
  max-width: 400px;
  margin: auto;
}

.intropage {
  text-align: center;
  background-color: rgba(234, 247, 255, 1);
  font-family: "Public Sans", sans-serif;
  color: darkblue;
}
.intro-logo {
  padding-top: 30px;
  margin-bottom: 50px;
}

.WorldLogo {
  margin-top: 20px;
  margin-bottom: 60px;
}

.slider-circles {
  padding-bottom: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.single-circle {
  display: inline-flex;
  text-align: center;
  margin: 10px;
  color: #2d9cdb;
}

.introbutton {
  padding-top: 20px;
  padding-bottom: 70px;
}