.intropage {
  text-align: center;
}
.intro-logo {
  margin-top: 30px;
  margin-bottom: 10px;
}

.fakepicture {
  color: grey;
  margin-top: 50px;
}

.slider-circles {
  margin: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.single-circle {
  display: inline-flex;
  text-align: center;
  margin: 10px;
  color: grey;
}
