.organisationpage {
  text-align: center;
}
.header {
  margin-top: auto;
}
.organisation-name {
  text-align: left;
}

.h2 {
  text-align: left;
}

.organisationinfos {
  text-align: left;
}

.socialfollow {
  margin: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
