.wrapper {
  font-family: "Public Sans", sans-serif;
}

input {
  flex: 1;
  width: 80%;
  border: 0;
  border-radius: 8px;
  border: 1px solid #ff9045;
  color: grey;
  padding: 10px 25px;
}

.Filter {
  color: black;
  display: inline-block;
}

.cards {
  color: black;
  font-size: 5px;
  text-align: left;
}
